In [ ]:
introduction to Numbers:
    
Integers

Float (decimal)

In [1]:
2+2

4

In [2]:
2*2

4

In [3]:
4-1

3

In [4]:
6/3

2.0

In [5]:
x = 2
y = 3

In [6]:
z = x+y

print(z)

5

In [7]:
type(z)

int

In [8]:
z = x/y

print(z)

0.6666666666666666

In [9]:
type(z)

float

In [ ]:
introduction to list datatype :

In [ ]:
defination : list is a collection of items in a particular order.
    
classification : It is a mutable datatype (flexible)
    
how do you define a list : ====> []

In [10]:
students = ['abhishek','kavya','naveen','keerthi']  # 0,1,2,3

print(students)

['abhishek', 'kavya', 'naveen', 'keerthi']

In [11]:
type(students)

list

In [ ]:
indexing : By using the concept of indexing it will be maintaing the order.

In [ ]:
# req : i want to get kavya name in the op?

In [12]:
print(students[1])

kavya

In [13]:
print(students[1].title())

Kavya

In [14]:
print(students)

['abhishek', 'kavya', 'naveen', 'keerthi']

In [ ]:
1. how to add new elements to the list


# req : i want to add kumar to the above list...?

In [15]:
students.append('kumar')

In [16]:
print(students)

['abhishek', 'kavya', 'naveen', 'keerthi', 'kumar']

In [ ]:
# ravi

In [17]:
students.append('ravi')

In [18]:
print(students)

['abhishek', 'kavya', 'naveen', 'keerthi', 'kumar', 'ravi']

In [ ]:
# kalyani ----> 2nd index.

In [19]:
students.insert(2,'kalyani')

In [20]:
print(students)

['abhishek', 'kavya', 'kalyani', 'naveen', 'keerthi', 'kumar', 'ravi']

In [21]:
print(students[2])

kalyani

In [ ]:
interview questions : what is the diff btw append and a insert method in a list?

In [22]:
print(students)

['abhishek', 'kavya', 'kalyani', 'naveen', 'keerthi', 'kumar', 'ravi']

In [ ]:
2. how to modify the elements in the list...?

In [ ]:
# instead of kavya i want ramya

In [23]:
students[1] = 'ramya'

print(students)

['abhishek', 'ramya', 'kalyani', 'naveen', 'keerthi', 'kumar', 'ravi']

In [ ]:
3. how to delete the elements from the list...?

In [24]:
print(students)

['abhishek', 'ramya', 'kalyani', 'naveen', 'keerthi', 'kumar', 'ravi']

In [ ]:
# req : to delete ravi.

In [25]:
del students[6]

In [26]:
print(students)

['abhishek', 'ramya', 'kalyani', 'naveen', 'keerthi', 'kumar']