In [ ]:
Advanced Concepts :

In [ ]:
------> Numpy

------> Pandas

------> Matplob

In [ ]:
3rd party libraries of python :

In [ ]:
Introduction to pandas : =====> pd

In [ ]:
Pandas is extremely used for doing the data analysis. all the data handling task and transformation will be done by 

using the pandas.

Pandas is built on top of numpy.

In [ ]:
Data types in Pandas :
    
    1. Series datatype  =======> it is a linear data type
    
    2. DataFrames =====> it is a two dimensional data structure and will be col and rows like a table

In [ ]:
Series datatype :

In [ ]:
Genral syntax of a series :

In [ ]:
pandas.Series(data,index,dtype)

In [ ]:
A Series can be created using various like such as :
    
    array
    dict
    scalar value or constants.

In [1]:
import numpy as np
import pandas as pd

In [ ]:
# Creaing an empty Series :

In [2]:
s = pd.Series()

print(s)

Series([], dtype: float64)

<ipython-input-2-c6cc324d4e79>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [3]:
data = np.array(['a','b','c','d','e'])

In [4]:
s = pd.Series(data)

print(s)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [ ]:
# defining our own custom indexes .

In [5]:
s = pd.Series(data, index=[100,101,102,103,104])

print(s)

100    a
101    b
102    c
103    d
104    e
dtype: object

In [6]:
s = pd.Series(data, index=[100,101,102,103])

print(s)

ValueError: Length of passed values is 5, index implies 4.

In [ ]:
# creating a series from a dictionary :

In [7]:
data = {'a':0,'b':1,'c':2,'d':3}

In [8]:
s = pd.Series(data)

print(s)

a    0
b    1
c    2
d    3
dtype: int64

In [ ]:
Note : In a dict indexes wil be acting act keys and value is the data.

In [9]:
data = {'a':0,'b':1,'c':2,'d':3}

In [10]:
s = pd.Series(data, index=['b','c','e','f','a','d'])

print(s)

b    1.0
c    2.0
e    NaN
f    NaN
a    0.0
d    3.0
dtype: float64

In [ ]:
Nan ====> Not a number , it will be converted in the float.

In [ ]:
creating a series from a scalar.

In [11]:
s = pd.Series(5, index=[0,1,2,3])

print(s)

0    5
1    5
2    5
3    5
dtype: int64

In [12]:
data = np.array(['a','b','c','d','e'])

In [ ]:
# how to access the elements ======>

In [13]:
print(s[0])

5

In [14]:
print(data[0])

a

In [ ]:
Getting started with the dataframes :

In [ ]:
Genral syntax of a data frame :

In [ ]:
pandas.DataFrame(data,index,columns,dtype)

In [ ]:
creating an empty dataframe :

In [15]:
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
creaing a dataframe from a list :

In [16]:
data = [1,2,3,4,5]

df = pd.DataFrame(data)

print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
data = [['nisha',10],['keerthi',9],['abhishek',9],['naveen',8]]

In [18]:
df = pd.DataFrame(data,columns=['Name','Marks'])

print(df)

       Name  Marks
0     nisha     10
1   keerthi      9
2  abhishek      9
3    naveen      8